<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>HTHM: HashTag HeatMap</title>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">


  <script src="bower_components/rsvp/rsvp.min.js"></script>
  <script src="bower_components/firebase/firebase.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
  <script src="bower_components/geofire/dist/geofire.min.js"></script>
  <script src="bower_components/satellizer/satellizer.min.js"></script>
  <script src="bower_components/socket.io-client/socket.io.js"></script>
  <script src="bower_components/angular-socket-io/socket.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?language=en"></script>

  <script src="module.js"></script>
  <script src="home/home.js"></script>

</head>
<body>

  <ui-view></ui-view>



</body>
</html>
