
#map {
  height: 80vh;
  width: 100vw;
}

.red {
  color: red;
  border: 1px solid gold
}

.picture6 {
  height: 10vw;
  width: 20%;
  display: inline-block;
  margin: 0;
  padding: 0;

}
.picture12 {
  height: 10vw;
  width: 10%;
  display: inline-block;
  margin: 0;
  padding: 0;

}

img {
  height: 90%;
  width: 90%;
}

.infoWindowPic {
  height: 100px;
  width: 100px;
}

.infoWindowContent {
  height: 200px;
  width: 200px;
}

.streamingTitle {
  text-align: center;
}

.imagesArea {
  text-align: center;
}
